  body > footer {
    position: fixed;
    bottom: 0;
  } 
*{
    padding:0;
    margin:0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing:border-box;
}
.hero{
    height:100vh;
    width:100%;
    background-image: url(./beli-image.jpg);
    background-size:contain;
    background-position: center;
}
nav{
    width: 100%;
    background-color: rgb(25, 27, 27);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;    
}
nav ul li{
    
    display: inline-block;
    padding-left: 200px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: red;
    transition:4s;
}
.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:10px 25px ;
    border-radius: 30px;
}
.content{
    position:absolute;
    top:50%;
    left:8%;
    transform:translatey(-50%);
    height: 50vh;
}
#heading1{
    color: white;
}
h1{
    color:blue; 
    margin: 20px 0 20px;
    font-size: 75px;  
}
h2{
    color:white; 
}
.about{
    width:100%;
    background-color: #191919;
    padding-top: 50px;
}
#belindanabudde-image{
    border-radius: 15%;
    height: 500px;
    width:500px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.about-text{
    width:550px;
}
.main{
    width:1130px;
    max-width:95%;
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content:space-around;
}
 .about-text h2{
     padding-bottom: 25px;
    color:white;
    font-size: 75px;
    text-transform: capitalize;
} 
.about-text h5{
    color:white;
    padding-top: 25px;
    letter-spacing:2px;
    font-size: 22px;
    margin-bottom:25px;
    text-transform:capitalize
}
#para-1{
    color:white;
    font-size: 18px;
    margin-bottom:45px;
    font-family: 'Josefin Sans',sans-serif;
}
.projects{
    background: #101010;
    width:100%;
    padding-bottom: 50px;
}
.title-project h2{
    color: white;
    font-size: 75px;
    width:1130px;
    margin:30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{

    height:365px;
    width:335px;
    padding:20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin:15px;
    overflow:hidden;
    text-align: center;
}
.card img{
    font-size:50px ;
    display:block;
    border-radius: 40px;
    text-align: center;
    margin:25px 0px;
    color:aquamarine;
}
#portfolio{
    font-size:5px ;
    width:250px;
    height:150px;
}
#surveyform{
    font-size:5px ;
    width:250px;
    height:150px;
}
#hashnode{
    font-size:5px ;
    width:250px;
    height:150px;
}
.box p{
    color: bisque;
    font-family: 'Josefin Sans',sans-serif;
}
.box h3{
    color: blue;
}
.feed-back{
    width:100%;
    height:50vh;
    background:#191919;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.feed-back h2{
    color:white;
    font-size: 30px;
    font-weight:bold;
    margin-bottom:25px;
}
.feed-back textarea{
    width: 60%;
    height:20vh;
    border-radius: 10px;
}
.feed-back .button1{
    background-color: red;
    color:white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight:bold;
    padding:13px 30px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 80px;    
}
footer{
    margin-top: 30px;
    position: relative;
    width:100%;
    height: 10vh;
    background:red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#facebook-image{
    width:25px;
    height:25px;
    border-radius: 50%;

}
#github-image{
    border-radius:50% ;
    width:25px;
    height:25px;
}
#email-image{
    border-radius:50% ;
    width:25px;
    height:25px;
}
#address-image{
    border-radius:50% ;
    width:25px;
    height:25px
}
/* @media(max-width:800px) {
    .hero{
        height:100vh;
        width:100%;
        background-image: url(./beli-image.jpg);
        background-size:cover;
        background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 85px;
    padding-left: 20%;
    padding-top: 20%;
    font-size: larger;
    position: fixed;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px; 
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: larger;
} 
.content{
    position:absolute;
    top:50%;
    left:8%;
    transform:translatey(-50%);
    height: 50vh;
}
h1{
    color:blue; 
    padding-top: 300px;
    font-size: 50px;  
}
h2{
    display: none;
}

.about{
    width:80%;
    /* padding: 100px opx; */
    /* background-color: #191919;
}
#belindanabudde-image{
    /* height: auto; */
    /* display: block; */
    /* width:475px;
    height: 300px;
}
.about-text{
    width:550px;
    padding-left: 25px;
    font-size: larger;
   
}
.main{
    width:1130px;
    max-width:95%;
    margin:0 auto;
    align-items:center;
    justify-content:space-around;
}
.about-text h1{
    color:white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom:20px;
}
.about-text h5{
    color:white;
    letter-spacing:2px;
    font-size: 22px;
    margin-bottom:25px;
    text-transform:capitalize
}

}  */  